--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1
torchaudio==0.4.0
torchvision==0.5.0+cu100
h5py==2.10.0
numpy==1.22.0
scipy==1.10.0
librosa==0.7.2
tqdm==4.66.3
hydra-core==0.11.3
tensorboard
gdown
hmmlearn